.hg
.hgignore
*.mov
*.log
*.tab
*.mov
*.VOD
*.mp4
*.jpg
QT
*.user
*.suo
*.xcodeproj/*.mode1
Debug
Develop
Copie de*
*.aup
*.caf
*.all_data
*.tc
*.rgb
LaneSplitting-full.qi2m
EssaiMicro-avi.qi2m
EssaiMicro-full.qi2m
EssaiMicro2-full.qi2m
LaneSplitting-134.qi2m
copy.*
Release
XML_files.lnk
UpperLeft.tif
UpperLeft256G.tif
UpperRight.tif
XML_files
*.avi
kk*
*.jpgs
*.ncb
*.build
lib*.a
QTImage2MovPB/build/Development
ipch
*.sdf
source/AddImageFrames.c.orig
source/IMGFrameFromVOD.c.orig
scratch.c
*.ttf
*.qtx
QTImage2Mov-v1.1*
QTImage2Mov-v1.2*
*.rtf
*.doc
*.pages
*.pdf
*.docset
bertin.*
*.sxw
*.component
QTImage2MovPB/QTImage2Mov.xcodeproj
QTImage2MovPB/QTImage2MovNative.xcodeproj
QTImage2MovPB/QTImage2MovNative-106.xcodeproj
*.rar

QTImage2MovVS2008.sln

QTImage2MovVS2008.vcproj

QTImage2MovVS2010.sln

QTImage2MovVS2010.vcxproj

QTImage2MovVS2010.vcxproj.filters
*.lib

source/AddImageFrames.c00

source/IMGFrameFromVOD.c

source/IMGFrameFromVOD.h
