<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qi2m</string>
				<string>QI2M</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>QI2M.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-qt-img2mov</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qi2m image sequence import specification</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>QI2M</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.RJVB.QTImage2Mov.QI2M</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpgs</string>
				<string>JPGS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>QI2M.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/jpgs-image-sequence</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>jpgs image sequence</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPGS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.RJVB.QTImage2Mov.JPGS</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vod</string>
				<string>VOD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>QI2M.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/VOD-video</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VOD video recording</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VOD </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.brigade-electronics.QTImage2Mov.VOD</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QTImage2MovComp</string>
	<key>CFBundleGetInfoString</key>
	<string>2.00 QTImage2Mov: Copyright (c) 2010-2012 INRETS / RJVB. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>QI2M.icns</string>
	<key>CFBundleIdentifier</key>
	<string>fr.INRETS.QTImage2Mov</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QTImage2Mov</string>
	<key>CFBundlePackageType</key>
	<string>thng</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>RJVB</string>
	<key>CFBundleVersion</key>
	<string>2.00</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.brigade-electronics.QTImage2Mov.VOD</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>VOD</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.RJVB.QTImage2Mov.QI2M</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>qi2m</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.RJVB.QTImage2Mov.JPGS</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>jpgs</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
